<mat-card class="card">
  <mat-form-field>
    <input
      [(ngModel)]="number1"
      type="number"
      placeholder="Escribe un número"
    />
  </mat-form-field>
  <mat-form-field>
    <input
      [(ngModel)]="number2"
      type="number"
      placeholder="Escribe un número"
    />
  </mat-form-field>

  <mat-divider></mat-divider>

  <mat-checkbox [(ngModel)]="addition">Sumar</mat-checkbox>
  <mat-checkbox [(ngModel)]="substract">Restar</mat-checkbox>
  <mat-checkbox [(ngModel)]="product">Multiplicar</mat-checkbox>
  <mat-checkbox [(ngModel)]="division">Dividir</mat-checkbox>

  <button mat-raised-button color="primary" (click)="operate()">Operar</button>
  <p>{{ result }}</p>
</mat-card>
